<div class="post post-single post-<%= api.post.id %>">
	<h1><%- DeEntify(api.post.title) %></h1>
	<% var img = "false";
	if(api.post.attachments.length > 0 ) {
		if("images" in api.post.attachments[0]) {
			if( api.post.attachments[0].images.large.url.length ){ 
			    var img = '<img src="+api.post.attachments[0].images.large.url+" />';						
			} 
		} 
	} 
	if (img != "false"){ %>
		
			<img class="img" src="<%= api.post.attachments[0].images.large.url %>"/>
		
	<% } %>

	<div class="post-meta">
		<p> Written on...
			<%= api.post.date %> by
			<%= api.post.author.nickname %>
		</p>
	</div>
	<div class="post-content">
		<%- DeEntify(api.post.content) %>
	</div>
	<div class="post-skips">
		<%- getSkipLinks(api.previous_url,api.next_url, hosts) %>

	</div>
	<div class="post-sharing">
		<h4 class="title">Pass it to the left</h4>
		Like, Send, Tweet, Bookmark etc.
	</div>
	<div class="post-commenting">
		Have your say
	</div>
</div>